<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price Process</title>
    <!-- Link Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .center-page {
        position: fixed;
        inset: 0px;
        width: 12rem;
        height: 5rem;
        max-width: 100vw;
        max-height: 100dvh;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div class="center-page">
      <!-- Update Button -->
      <a href="/update" class="btn btn-primary">Update</a>
      <!-- Initiate Button -->
      <a href="/initiate" class="btn btn-link">Initiate</a>
    </div>
  </body>
</html>
